* {
  margin: 0;
  padding: 0%;
  list-style: none;
  text-decoration: none;
}

#navigation {
  display: flex;
  justify-content: space-between;
  background: rgb(4, 153, 252);
  align-items: center;
  padding: 0 15% 0 15%;
}
#navigation > ul {
    display: flex;
}

#navigation > ul > li{
    margin: 0 10px;
    padding: 15px 0;
}

#navigation > ul > li > a{
    color: aliceblue;
    font-size: 18px;
}


